
.container-two {
    background-color: rgb(240, 235, 235);
    padding: 40px 25px;
    display: flex;
    justify-content: space-evenly;
  }
  
  .container-two button {
    padding: 10px 20px;
    height: 70px;
    width: 150px;
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
    border: none;
    border: 1px solid black;
    border-radius: 50px;
    cursor: pointer;
    background-color: rgb(240, 235, 235);
    transition: background-color 0.85s ease-in-out;
  }
  .container-two button:hover {
    background-color: black;
    color: white;
  }
  .vertical-line {
    border-left: 2px solid black;
    height: 160px;
  }
  
  
  