
.container-six{
    background-color: rgb(16, 15, 15);
    color: white;
    
  }
  .container-six-a{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 9%;
  }
  .container-six-a button{
    padding: 10px 20px;
    height: 70px;
    width: 20%;
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    border: none;
    border: 1px solid black;
    border-radius: 50px;
    cursor: pointer;
    background-color: black;
    transition: background-color 0.85s ease-in-out;
  }
  .container-six-a button:hover {
    background-color: rgb(69, 67, 67);
    color: white;
  }
  .horizontal-line {
   background-color: white;
   height: 2px;
   margin: 0 50px;
   
  }
  .container-six-b{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    margin: 40px 30px;
    padding: 30px 50px;
  }
  .container-six-c{
    display: flex;
    padding: 0 120px 40px 120px;
    justify-content: space-between;
    
  }